/* type */

@font-face {
    font-family: 'FolhaIIExtraLight';
    src: url('//static.folha.uol.com.br/fonts/folhaii-extralight/folhaiiextralight.eot');
    src: url('//static.folha.uol.com.br/fonts/folhaii-extralight/folhaiiextralight.eot') format('embedded-opentype'),
         url('//static.folha.uol.com.br/fonts/folhaii-extralight/folhaiiextralight.woff') format('woff'),
         url('//static.folha.uol.com.br/fonts/folhaii-extralight/folhaiiextralight.ttf') format('truetype'),
         url('//static.folha.uol.com.br/fonts/folhaii-extralight/folhaiiextralight.svg#folhaiiextralight') format('svg');
}
@font-face {
    font-family: 'UnitOT';
    src: url('fonts/unitot_light.eot');
    src: url('fonts/unitot_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/unitot_light.ttf') format('truetype'),
         url('fonts/unitot_light.svg#folhaii-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'folhaii-heavy';
    src: url('//static.folha.uol.com.br/fonts/folhaii-heavy/folhaii-heavy-webfont.eot');
    src: url('//static.folha.uol.com.br/fonts/folhaii-heavy/folhaii-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('//static.folha.uol.com.br/fonts/folhaii-heavy/folhaii-heavy-webfont.woff') format('woff'),
         url('//static.folha.uol.com.br/fonts/folhaii-heavy/folhaii-heavy-webfont.ttf') format('truetype'),
         url('//static.folha.uol.com.br/fonts/folhaii-heavy/folhaii-heavy-webfont.svg#folhaii-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	overflow-x: hidden;
}
a{
    text-decoration: none;
}
.menu{

    position: absolute;
    height: calc(100vh - 255px);
    top: 255px;
    right: 0;
    z-index: 3;
    min-width: 400px;
}

.program{
    color: #fff;
    font-weight: bold;
    background-color: #E42529;
    width: 80%;
    text-align: center;
    display: block;
    padding: 3px;
    margin-left: 10%;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 200px;
    margin: auto;
    margin-top: 10px;
}

.program:hover{
text-decoration: none;
    font-size: 14px;
     max-width: 220px;


}


.menu li{
    font-size: 40px;
    color: #000;
    padding: 10px;
    margin-bottom: 15px;
    font-family: "UnitOT";
    text-transform: uppercase;
    line-height: 0.8em;
    cursor: pointer;
    font-weight: 100;
    transition: 0.3s;
    position: relative;
    padding-bottom: 3px;
    clear:both;
    width: 100%;text-align: center;

}
.menu li:after{
    content:' ';
    width: 100%;
    max-width: 200px;
    position: absolute;
    background-image: url('../images/bot.svg');
    height: 10px;
    background-size: contain;
    transform: translateX(-50%);
    background-repeat: no-repeat;

}

.menu li.up:after{
    content:' ';
    width: 100%;
    max-width: 200px;
    position: absolute;
    background-image: url('../images/bot-v.svg');
    height: 10px;
    background-size: contain;
    transform: translateX(-50%);
    background-repeat: no-repeat;

}
.capitulo{
    width: 80%;
    height: calc(100vh - 84px);
    background-size: cover;
    position: absolute;
    top: 84px;
    left: 0;
    background-position: right;
    display: none;
}

.show{
    display: block;
    -moz-animation: show .5s  ;
    -webkit-animation: show .5s  ;
    animation: show .5s  ;
    -moz-animation: show .5s  ;
}




.menu .up{
    transition: 0.3s;
    color: #fff;
    font-size: 50px;
    padding-bottom: 10px;
    padding-right: 35px;

}


.up .dir{
    color:#E52629;
       cursor: pointer;
    font-weight: 100;
}

.up .esq{
    color:#E52629;
    font-weight: 100;
           cursor: pointer;
}
.up{
           cursor: pointer;
}

.folhaf{
    width: 200px;
    left: calc(50% - 100px);
    top: 94px;
    position: fixed;
    z-index: 999;
}

li .esq{
    color:#fff;
}li .dir{
    color:#fff;
}
.moda img{
width: 90%;
margin-top: 90px;

}
.fartura{
    z-index: 9;
    position: fixed;

    width: 400px;
    top: 90px;
    right: 0;
    text-align: center;
}
.fartura img{
    width: 100%;
    max-width: 200px;
}
.dv{    background-position: 0px 60%;

}
#mani{
    background-image:url(../images/fundo.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-attachment: scroll;

    margin-bottom: 30px;
    clear: both;
}

#mani h3{

    color: #fff;
    font-family: UnitOT;
    font-size: 80px;
    text-align: center;
    width: 100%;
    height: 100%;
    DISPLAY: INLINE-BLOCK;
    POSITION: RELATIVE;
    background-color: rgba(0, 0, 0, 0.3);

}


h1{
    
    color: #000;
    font-weight:bold;
    font-size:55px;
    text-align:center;
    padding-bottom: 5px;
    font: 300 100px/1.05 "UnitOT" , serif;
}

h2 {
    width:100%;
    max-width:940px;
    text-align:center;
    font-size: 21px;
    margin:0 auto;
    padding-top:5px;
    text-shadow: 0 0 4px rgba(0,0,0,.3);
    line-height: 1.2em;
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
}

h2 span{
    font-size: 16px;
    display:block;
}

h3{
    font-family: ;
    font-weight: bold;

    font: 300 30px/1.05 "UnitOT" , serif;
}

footer {
    background-color:#000;
    padding:30px 10px;
    clear: both;
}

footer p{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 11px;
    color: #eee;
    text-align: center;
    line-height: 14px;
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
}

span{
    font-size: 16px;
    line-height: 1.4em;
    color: #aaa;
}

figcaption a {

    font-weight: bold;
}

.img-l:hover .fone{
    opacity: 1;
    transition: 0.8s;
	   
}
.outros {
width: 100%;
overflow: hidden;


}
.outros .all{
width: 100%;
overflow-x: scroll;
overflow-y: auto;

}

.outros #cont{

width: calc(20vw * 5);
height: auto;
position: relative;

}
.outros #cont figure{
width: 20vw;
float: left;
trasition:0.5s;

}
.outros #cont figure:hover{
opacity: 0.8;
trasition:0.5s;
}

.outros h2{
    padding-top: 30px;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 30px;
}
.outros  #cont figure img{
    width: 100%;
    padding:10px;
    padding-bottom: 5px;
}
.outros  #cont figure figcaption{
    padding:10px;
    padding-top: 5px;
    color: #000;
}
#dd{
    width: 5%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right:0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}


#dd:hover{
    background-color: rgba(0, 0, 0, 0.5);

}
#ee{
    width: 5%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
#ee:hover{
    background-color: rgba(0, 0, 0, 0.5);

}

.info-keys {
    position: fixed;
    top: 100px;
    left: 10px;
    width: 60px;
    font-size: 8px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    display: none;
    z-index: 9999;
}

.imagensa{
    position: relative;
    display: inline-block;
    width: 100%;
}
.img-container img{

    width:100%;
}

.info-keys:before {
    left: 10px;
    content: "\f177";
}

.icon:before, .icon:after {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
     line-height: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.info-keys:after {
    font-family: 'fontawesome';
    right: 10px;
    content: "\f178";
}

.info-keys:before, .info-keys:after {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
     border: 1px solid #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}
.hide{
    bottom: -100%;
}

section.abertura{
	width:100%;
	height:auto;
	padding: 10px;
	background:center center no-repeat;
	background-size:cover;
}

#titulo{
    width: 100%;
    margin: auto;
    max-width: 940px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0;
     padding-top:  0px;
}

.titulo{
	width:100%;
	margin: auto;
	max-width: 640px;
	padding: 50px;

}

section.abertura img{
	display:block;
	margin: 0 auto;
	width:100%;
	max-width:500px;
}

section.galerias{
	padding: 40px 0;
}

.galerias nav {
	width:100%;
	max-width: 700px;
	margin:0 auto;
}

.galerias .thumb{
	    padding: 10px;
	width:50%;
	background-size: cover;
	cursor: pointer;
	color:#333;
	display: inline-block;
	position:relative;
	vertical-align:top;
}

.cred{
	padding-top: 5px;
	width: 100%;
	
	clear: both;
	display: block;
	margin:auto;
	    max-height: 30px;
 padding-bottom: 10px;
}

.thumb .thumb-container{
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	border: 1px solid #d0d0d0;	
	width: 100%;
	margin: auto;
}

.linhaFina{
    width: 100%;
    max-width: 940px;
    padding: 10PX;
    position: relative;
    color: #333;
    MARGIN: auto;
    text-align: center;
}



.galerias .thumb img{
	width:100%;
	height:auto;
}

.thumb p, .thumb h3{
	padding: 0 10px;
	line-height:1.2em;
	text-align: center;
}


.thumb p{

	margin-bottom: 10px;
}

.modoff{
	display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
}
h6{
    width: 80px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    }
.mod{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.95);
    overflow: hidden;
}

#feche{
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color .15s;
    -webkit-transition: background-color .15s;
    -moz-transition: background-color .15s;
    -o-transition: background-color .15s;
    -ms-transition: background-color .15s;
}

.mod figure{
    background-color: #000;
}

.mod .atual{
    opacity: 1;
    z-index: 9;
}

.mod .inativo{
    opacity: 0;
    z-index: 0;
}
.mod .anterior{
    opacity: 0;
    z-index: 0;
}

.mod .proximo{
    opacity: 0;
    z-index: 0;
}

.mod figure{
	animation-name: text;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/loader.gif) center 35% no-repeat;
    background-size: 40px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    -ms-transition: transform .5s;
    margin: auto;
    background-color: #000;
}

.mod figure div{
    position: relative;
    width: 100%;
    height: 100vh;
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mod figure img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: auto;
    opacity: 1; 
    transform: translate(-50%,-50%);    
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%);
    transition: opacity .3s; 
}

.mod figure figcaption{
    padding-top: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    font-size: 18px;
    color: #fff;
    padding: 20px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, .9);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
    z-index: 1000;
    max-height: 40%;
    overflow-y: auto;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    transition: 0.5s;
}

#modal{
	position:fixed;
	top:80px;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	display:none;
}

#mod{
    fill: rgba(0,0,0,0.5);
	animation-name: text;
    animation-duration: 0.5s;
}

.lmodal{
	width: 100%;
    max-width: 670px;
    height:auto;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    background-color: #000;
    position: relative;
    display: none;
}

.closer {
    position: absolute;
    top: 5px;
    left: 24px;
    width: 2px;
    background-color: #fff;
    height: 40px;
    background-size: 0;
}

.closer:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background-size: 0;
}

.closer:nth-child(2) {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    background-size: 0;
}
.up:hover{
           cursor: pointer;
}
.lmodal .fechar{
    content: 'x';
    position: absolute;
    right: -25px;
    top: -25px;
    color: #000;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.lmodal .fechar:hover{
    font-size: 40px;
    width: 60px;
    height: 60px;
        right: -30px;
    top: -30px;
}
.image-cont{
	display: none;
	width: 100%;
    max-width: 940px;
    margin: auto;
    margin-bottom: 50px;
}

.lmodal figure img{
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}

.image-cont figure img {

	width: 100%;
	max-width: 940px;
}

.lmodal .titulo{
    max-width: 250px;
    padding: 10px;
    margin: 0;
    padding-bottom: 0;
}

.lmodal figure figcaption{
    padding: 10px;
    padding-bottom: 0;
}

.lmodal .inativo{
    
    display:none;
}

.lmodal .ativo{
    
    display:block;
}

.aberto #modal{
	
    display:block;
}

.aberto {
	
    overflow: hidden;
}

.gal-container {
	
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:calc(100% - 80px);
	display:none;
}

.gal-container.active{
	
    display:block;
}


#dir, #esq {
	
    position:absolute;
	top:0;
	height:100% ;
	z-index:1000;
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}



#esq {
	
    left:0;
	display:none;
}

#dir {
	
    right:0;
}

.seta {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

}

#esq:hover,
#dir:hover {
    opacity: .8;
}

#esq .seta {
   
    left: 29px;
}



#dir .seta {
    
    right: 29px;
}
#dd .seta:before,
#ee.seta:before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 8px solid rgba(0, 0, 0, .5);
    border-right: 8px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: -1px;
}
#dd .seta:after,
#ee .seta:after {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    position: absolute;
    top: 0;
}



#dir .seta:before,
#esq .seta:before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 8px solid rgba(0, 0, 0, .5);
    border-right: 8px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: -1px;
}

#dir .seta:after,
#esq .seta:after {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    position: absolute;
    top: 0;
}



#ee .seta:before {
    left: 10px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}


#esq .seta:before {
    left: 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

#ee .seta:after {
    left: 10px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
#esq .seta:after {
    left: 1px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

#dd .seta:before {
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#dir .seta:before {
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#dd .seta:after {
    right: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#dir .seta:after {
    right: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.no-touch #dir:hover .seta, .no-touch #esq:hover .seta{


	transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

#dir .seta{

	right:30px;
}

#esq .seta{

	left:30px;
}

.touch #dir .seta{

	right:5px;
}

#close {
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	z-index:1000;
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	cursor:pointer;

	transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

.closer{
	position:absolute;
	top:5px;
	left:24px;
	width:2px;
	background-color:#fff;
	height:40px;
        background-position-x: 50000%;
    background-repeat: no-repeat;
}

.no-touch #close:hover{
	background-color:rgba(255,255,255, .2);
	transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

#fechar{

    width: 50px;
    padding: 10px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

#fechar:hover{
    width: 40px;
    padding: 0;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.m-ico{
	height: 50px;
	width: 50px;
    cursor:pointer;
	float: left;
}

#menu p{
    
    float: left;
}

.imagensa .figure-antes .img-container img {
    transition: 0.5s;

    width: calc(100% + 10px);
    transition-delay: 0.1s;
}

.figure-antes{
    width: 25%;
    height: 25vw;
    display: block;
    float: left;
    overflow:hidden;
    padding: 2px;
    cursor: pointer;
    padding-top: 0;
    padding-right: 0;
}

.figure-antes img{

    cursor: pointer;
}

.imagensa .figure-antes .img-container img:hover{
    margin-top: -2.5%;
    margin-left: -2.5%;
    width:105%;
}

hr{
	border: #ccc 0px solid;
    border-top-width: 1px;
}

.texto.expediente p, .colaboracao {
	clear: both;
    font-size: 14px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-bottom: .5em;
    color: #888;
    -webkit-font-smoothing: antialiased;
}
.texto {
    padding: 30px 10px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

    @keyframes show {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
     @-webkit-keyframes show {
                0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }


     } 
     @-moz-keyframes show {
         0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }

     }

         @keyframes seta {
         0%{
           right: 0;
        }
        25%{
            right: 15px;
        }
        75%{
            right: 0px;
        }
        100%{
            right: 0px;
        }

    }
     @-webkit-keyframes seta {
         0%{
           right: 0;
        }
        25%{
            right: 15px;
        }
        75%{
            right: 0px;
        }
        100%{
            right: 0px;
        }



     } 
     @-moz-keyframes seta {
         0%{
           right: 0;
        }
        25%{
            right: 15px;
        }
        75%{
            right: 0px;
        }
        100%{
            right: 0px;
        }


     }


.clique{
	padding-top: 10px;
    width: 100%;
    max-width: 500px;
    margin:auto;
    display: block;
}

.figure-antes .credito{
    color:#888;
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    font-size: 0.7em;
}

.figure-antes .legenda{
	
    margin-top:10px;
    color:#000;
}

.figure-antes .img-container{
	width: 100%;
    height: 100%;
    overflow:hidden;
    position: relative;
}

.figure-antes .img-container img{

    transition: 0.5s;
    transition-delay: 0.1s;
}

.img-container .normal {
    margin-top:0%;
    margin-left:0%;
    width: 100%;
}

a:-webkit-any-link {
   
    text-decoration:none;
}

#seta{
	width: 30px;
	height: 30px;
	margin-bottom: 20px;

}

.image-cont figure .info{
    position: absolute;
    left: 0px;
    width: 60px;
    height: 60px;
    padding: 5px;
}

#logo{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    clear: both;
}




.figure-antes .img-containerj:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/play.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;


}


.figure-antes .img-containerj.changed:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/pause.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;

}



.figure-antes .img-containerj.mud:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/replay.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;

}



.figure-antes .img-containerjm:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/play.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;

}


.mod figure FIGCAPTION p {   
    margin: auto;
    max-width: 1500px;
}

#leia{

    display: none;
}

#voltar{

    display: none;
}

.t-abe{

    cursor: pointer;
}


/*ANIMATIONS*/

@keyframes example {
    from {top: -100%;
        bottom:none;
    }
    to {top: 0;
        bottom: 0;}
}

@keyframes text {
    0% { opacity: 0;
   
    }
    100% {
   opacity: 1;
    }
}



@keyframes oo {
    0% {opacity:0;
   
    }

    100% {opacity: 1;
   
    }
}

@keyframes ooa {
    0% {left: 100%;
   
    }

    100% {left: 0%;
   display: none;
    }
}

/*QUERIES*/

@media only screen and (max-width: 940px) {

    .info-keys .icon {
        
        display: none;
    }

    .folhaf{
left: 20px;
    }
    .mod figure figcaption{
        padding-top: 0;
        top: auto;
        bottom: 0;
        width: 100%;
        position: fixed;
        z-index: 9999;
        color: #fff;
        padding-top: 50px;
    }

    .mod figure div, .modalm figure div{
        width: 100%;
    }

    #dir{
        right: 0;
    }

    .figure-antes{
    width:calc(100% / 3);
    height: calc(100vw / 3);
    }

    #leia{
        display: block;
        width: 45%;
        position: fixed;
        bottom: 0;
        left: 30%;
        color: #00adef;
        text-align: center;
        background-color: #fff;
        font-weight: bold;
        z-index: 9999999;
        padding: 10px;
        cursor: pointer;
    }

    #voltar{
        display: none;
        width: 30%;
        position: fixed;
        bottom: 0;
        left: 35%;
        color:#00adef;
        text-align: center;
        background-color: #fff;
        font-weight: bold;
        z-index: 9999999;
        padding: 10px;
        cursor: pointer;
    }
}


@media only screen and (max-width: 630px) {
	
    h1{
        
        font: 300 43px/1.05 "UnitOT" , serif;
    }
.up:after {

    width: 20px;
    height: 20px;}

.menu li {

    font-size: 19px;
    color: #000;
    float: right;
    border-bottom: none;
    text-transform: uppercase;
    line-height: 0.8em;
    cursor: pointer;
    font-weight: 100;
    transition: 0.3s;
    position: relative;
    padding-bottom: 3px;
    clear: both;
    margin-bottom: 1px;

}

.menu{
    width: 80%;
    min-width: auto;
    top: 125px;
    left: 10%;
    padding-top: 0;
        height: calc(100vh - 125px);
}

.menu .up{
    font-size: 25px;
    padding-right: 0;

}
.folhaf {
    width: 100px;
        left: calc(50% - 50px);
}
.capitulo {
    width: 100%;
    height: 30%;
    background-position: left;
    top: auto;
    /* max-height: 30%; */
    bottom: 0;
}

.fartura{
        z-index: 999999;
    position: fixed;
    max-width: 150px;
    bottom: 10px;
    left: 10px;
    width: 100%;
        top: auto;
    
}
    #mani h3 {
    color: #fff;
    font-family: UnitOT;
    font-size: 40px;}
  #mani  {
    height: 15vh;
}

#titulo {
    margin-top: 0px;
    padding: 0px;
}
    span{

        font-size: 12px;
        line-height: 1.4em;
    }

    section.abertura{

		height:auto;
	}
.outros #cont{
width: calc(50vw * 5);
height: auto;

}
.outros #cont figure{
width: 50vw;
float: left;

}
    .seta {

        top: 40%;
    }
    .touch .seta {

        top: 50%;
    }
    #logo{
        width: 100px;

    }

    .img-containerjm .mud {

        height: 295px;
    }

    .mod figure div{
        
        background-position: 50% 30%;
    }

    .touch .mod figure div{
        
        background-position: center;
    }

    .mod figure figcaption p{
    font-size: 14px;
    }


    #modal3 figure img{

        width: 80%;
    }

    #modal3 figure figcaption {

        top: 70%;
    }

    .imagenskk {
        height: AUTO;
        width: 90%;
        margin-left: 5%;
        overflow-y: hidden;
        float: left;
        margin-bottom: 10px;
    }

    .textkk {
        background-color: rgba(0,0,0,0.9);
        width: 100%;
        position: fixed;
        bottom: -100%;
        height: 100vh;
        overflow: auto;
        opacity: 0;
        padding-bottom: 200px;
    }

    .imagenska {
        width: 100%;
        overflow-y:hidden;
        height: auto;
        float: left;
    }

    .touch .mod{
        width: 100%;
        height: 100%;
        top:0;
    }


    .image-cont{

        display: block;
    }

    .touch #dir .seta {

        right: 10px;
    }

    .touch #esq .seta {

       left: 10px;
    }

    .mod figure img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        top: 40%;
        left: 50%;
        width: 100%;
        height: auto;
        opacity: 1;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transition: opacity .3s;
    }

	.titulo{

	    padding: 15px;
	}


	.galerias .thumb {
width:100%;
	}

	.galerias .thumb .img-container{
        display: inline-block;
        width:95%;
        height: 200px;
        vertical-align: middle;
	
	   background:center center no-repeat;
	   background-size:cover;
	    overflow: hidden;
	   margin-left: 2.5%;
	}

    .info-keys .icon {
    display: none;
    }



}
@media only screen and (min-height: 650px) and (max-width: 630px){
.capitulo {
height: 50%;


}
}

/* print */
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
        text-decoration:none;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}