/* type */
body {
	background-color: #fff;
}

#artefolha-quiz {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-ios-font-smoothing: grayscale;
	position: relative;
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	line-height: 1.3em;
	background-color: #fff;
}



#artefolha-quiz .capa:before,
#artefolha-quiz .resposta:before,
#artefolha-quiz figure:before,
#artefolha-quiz .resultado:before {
	top: 0;
}

#artefolha-quiz .capa:after,
#artefolha-quiz .resposta:after,
#artefolha-quiz figure:after,
#artefolha-quiz .resultado:after {
	bottom: 0;
}

#artefolha-quiz a {
	color: #00adef;
}

#artefolha-quiz h1,#artefolha-quiz h3{
	font-weight: bold;
}

#artefolha-quiz h1{
	text-transform: uppercase;
	font-size: 21px;
	line-height: 1.3em;
	text-align: center;
}

#artefolha-quiz .result-container h1{
    text-transform: none;
}

#artefolha-quiz h2{
	font-size: 16px;
	text-align: left;
	line-height: 1.3em;
	padding-bottom: .5em;
}

#artefolha-quiz .capa {
	position: absolute;
	padding: 40px 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 100;
	text-align: right;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

#artefolha-quiz .capa-container {
	position: relative;
	width: 100%;
}

#artefolha-quiz .capa img {
	display: block;
	max-width: 100%;
	height: auto;
	width: auto;
	max-height: 300px;
}

#quiz {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 5px;
	text-align: right;
	height: 100vh;
}

#artefolha-quiz figure {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	padding: 40px 10px;

	transition: transform .5s;
	-webkit-transition: transform .5s;
	-moz-transition: transform .5s;
	-o-transition: transform .5s;
	-ms-transition: transform .5s;
}

#artefolha-quiz figure .question-container {
	position: relative;
	    text-align: center;
}

#quiz figure p,
#quiz figure .chapeu {
	text-align: left;
}

#artefolha-quiz figure.proxima {
	position: absolute;

	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	-ms-transform: translateX(100%);
}

#artefolha-quiz figure.anterior {
	position: absolute;

	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
}

#artefolha-quiz figure.atual {
	transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-o-transform: translateX(0%);
	-ms-transform: translateX(0%);
}

#artefolha-quiz img {
	width: 50%;
	margin: 0 auto;
	height: auto;
}

#artefolha-quiz figcaption {
	padding: 10px 0;
}

#artefolha-quiz p {
	font-size: 18px;
}

#artefolha-quiz figcaption p {
	font-size: 18px;
	padding-top: 5px;
	color: #000;
	font-weight: bold;
}

#artefolha-quiz figcaption p del {
	font-weight: bold;
}

#artefolha-quiz button {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	background-color: #fd0;
	position: relative;
	overflow: hidden;
	border: none;
	box-shadow: rgba(0,0,0,0.25) 0 0 9px;
	color: #000;
	font-size: 16px;
	line-height: 1.3em;
	padding: 10px;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	transition: background-color .5s, box-shadow .15s;
	-webkit-transition: background-color .5s, box-shadow .15s;
	-moz-transition: background-color .5s, box-shadow .15s;
	-o-transition: background-color .5s, box-shadow .15s;
	-ms-transition: background-color .5s, box-shadow .15s;
}

#artefolha-quiz button.play {
	width: 100%;
}

#artefolha-quiz .alternativas {
	position: relative;
	width: 100%;
	text-align: left;
	font-size: 0;
}

#artefolha-quiz figure .alternativa {
	font-size: 15px;
	outline: none;
	margin-bottom: 10px;
	width: 100%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 30px;
	padding: 10px 15px;
	text-align: left;
	padding-right: 30px;

	transition: background-color .5s, box-shadow .15s;
	-webkit-transition: background-color .5s, box-shadow .15s;
	-moz-transition: background-color .5s, box-shadow .15s;
	-o-transition: background-color .5s, box-shadow .15s;
	-ms-transition: background-color .5s, box-shadow .15s;
}

#artefolha-quiz .alternativa.selected {
	background-color: #000;
	color: #fff;
}

#artefolha-quiz .alternativa.erro.selected:hover {
	background-color: #fd0;
}

#artefolha-quiz figure .alternativa.image {
	padding: 0;
	line-height: 0;
	max-width: 33.333%;
	max-width: calc(100% / 3 - 3.5px);
}

#artefolha-quiz figure .alternativa.image:first-child {
	margin-right: 5px;
}

#artefolha-quiz figure .alternativa.image:last-child {
	margin-left: 5px;
}

#artefolha-quiz figure .alternativa p {
	padding: 0;
	font-size: 18px;
	text-transform: none;
	color: #000;
}

#artefolha-quiz figure .alternativa.image.disabled img {
	opacity:.7;
}

#artefolha-quiz figure .alternativa.certo {
	background-image: url(../images/correto.svg);
	color: #007f3e;
}

#artefolha-quiz figure .alternativa.errado {
	opacity:.5;
	background-image: url(../images/errado.svg);
	color: #ae2f3e;
	border-color: #ae2f3e;
}

#artefolha-quiz figure .alternativa.erro {
	text-decoration: line-through;
	background-image: url(../images/errado.svg);
	color: #ae2f3e;
	border-color: #ae2f3e;
}

#artefolha-quiz figure .image.alternativa.certo {
	background-color: #336600;
}

#artefolha-quiz figure .image.alternativa.errado {
	background-color: #ae2f3e;
}

#artefolha-quiz figure .image.alternativa.erro {
	background-color: #ae2f3e;
}

#artefolha-quiz .resposta {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	height: 100vh;
	width: 100%;
	padding: 30px 0;
	background-color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
    z-index: 3;
}

#artefolha-quiz .resposta-container {
	width: 100%;
	overflow-x: hidden;
}

#artefolha-quiz .resposta p {
	color: #000;
	width: 100%;
	padding-bottom: 10px;
	font-size: 15px;
	text-align: center;
}

#artefolha-quiz .resposta-container img {
	max-height: 300px;
	width: auto;
	display: block;
	margin: 0 auto 10px;
}

#artefolha-quiz .resposta-container span {
	display: block;
	width: 100%;
	max-width: 408px;
	margin: 0 auto;
	font-size: 12px;
	text-align: right;
}

#artefolha-quiz .resposta p mark {
	color: #000;
}

#artefolha-quiz .alternativa.disabled {
	cursor: default;
}

.not-mobile #artefolha-quiz button.active:hover {
	box-shadow: rgba(0,0,0,0.25) 0 3px 9px;
}

#artefolha-quiz button:active {
	box-shadow: rgba(0,0,0,0.25) 0 0 3px;
}

#artefolha-quiz .alternativa.errado:hover,
#artefolha-quiz .alternativa.erro:hover {
	background-color: #fff;
}

#artefolha-quiz .contador {
	position: absolute;
	right: 0;
	top: 5px;
	background-color: #9d1c24;
	padding: 5px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

#artefolha-quiz .prox {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-align: right;
	visibility: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	padding-right: 56px;
	margin-bottom: 10px;
	margin-right: 10px;

	transition: transform .15s, box-shadow .15s, background-color .15s;
	-webkit-transition: transform .15s, box-shadow .15s, background-color .15s;
	-moz-transition: transform .15s, box-shadow .15s, background-color .15s;
	-o-transition: transform .15s, box-shadow .15s, background-color .15s;
	-ms-transition: transform .15s, box-shadow .15s, background-color .15s;
}

#artefolha-quiz .prox .seta {
	height: 100%;
	width: 42px;
	border-left: solid 1px #000;
	position: absolute;
	right: 0;
	top: 0;
}

#artefolha-quiz .prox .seta .haste {
	width: 20px;
	height: 1px;
	background-color: #000;
	position: absolute;
	left: 11px;
	top: 20px;
}

#artefolha-quiz .prox .seta .ponta {
	width: 15px;
	height: 15px;
	border-color: #666;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	position: absolute;
	left: 13px;
	top: 13px;

	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

#artefolha-quiz .chapeu {
	color: #888;
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	margin-top: 10px;
}

#artefolha-quiz .resultado {
	width: 100%;
	height: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 40px 10px;
}

#artefolha-quiz .result-container {
	display: block;
	width: 100%;
}

#artefolha-quiz .resultado h3 {
	text-transform: uppercase;
    font-size: 21px;
    line-height: 1.3em;
    font-weight: bold;
	text-align: center;
}

#artefolha-quiz .resultado p {
	font-size: 16px;
	padding: .5em 10px;
	width: 100%;
	line-height: 1.3em;
	color: #666;
	padding: 10px;
	text-align: center;
}

#artefolha-quiz .resultado p span {
	font-size: 1.3em;
	display: block;
	font-weight: bold;
}

.no-scroll {
	overflow: hidden;
}

#artefolha-quiz .ripple {
	background-color: rgba(0,0,0,.2);
	position: absolute;
	border-radius: 50%;

	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;

	transform: translate(-50%,-50%) scale(0);
	-webkit-transform: translate(-50%,-50%) scale(0);
	-moz-transform: translate(-50%,-50%) scale(0);
	-o-transform: translate(-50%,-50%) scale(0);
	-ms-transform: translate(-50%,-50%) scale(0);
}

#artefolha-quiz .alternativa .ripple {
	background-color: rgba(255,255,255,.3);
}

#artefolha-quiz .ripple.animate {
	opacity: 0;

	transform: translate(-50%,-50%) scale(1);
	-webkit-transform: translate(-50%,-50%) scale(1);
	-moz-transform: translate(-50%,-50%) scale(1);
	-o-transform: translate(-50%,-50%) scale(1);
	-ms-transform: translate(-50%,-50%) scale(1);
}

#artefolha-quiz .result {
	text-align: center;
}

#artefolha-quiz .tooltip {
	position: absolute;
	width: calc(100% - 20px);
	left: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	display: none;
	background-color: #fff;
}

#artefolha-quiz .tooltip iframe {
	width: 100%;
	height: calc(720/1280 * (100vw - 40px));
	max-height: 326px;
}

@media only screen and (max-width: 500px) {
	#artefolha-quiz .capa-items {
		display: block;
	}

	#artefolha-quiz .capa img {
		width: 100%;
	}
}


