html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:0 0;}::-moz-selection{color:#fff;background:#2AABE2;}::selection{color:#fff;background:#2AABE2;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}h1{font-size:2em;margin:0;}mark{background:#ff0;color:#000}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}hr{height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled;],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:700;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}.loading{position:fixed;top:0;left:0;right:0;bottom:0;background:#fff;z-index:1001;text-align:center;}

/****** Typography ******/

@font-face {
    font-family: 'folhaii-extralight';
    src: url('http://arte.folha.uol.com.br/library/fonts/folhaii/folhaii_extralight.eot');
		src: local('folhaii-extralight.ttf');
    src: url('http://arte.folha.uol.com.br/library/fonts/folhaii/folhaii_extralight.eot?#iefix') format('embedded-opentype'), url('http://arte.folha.uol.com.br/library/fonts/folhaii/folhaii_extralight.woff') format('woff'), url('http://arte.folha.uol.com.br/library/fonts/folhaii/folhaii_extralight.ttf') format('truetype'), url('http://arte.folha.uol.com.br/library/fonts/folhaii/folhaii_extralight.svg#folhaii_extralight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'UnitOT';
    src: url('fonts/unitot_light.eot');
    src: url('fonts/unitot_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/unitot_light.ttf') format('truetype'),
         url('fonts/unitot_light.svg#folhaii-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* MENU*/
.menu-cont{
	position: fixed;
	width: 50px;
	height: 40px;
	top: 90px;
	left: 10px;
	background-color: #000;
	z-index: 99;
	transition: 0.3s;
	max-width: 300px;

}
.program{
	    color: #fff;
    font-weight: bold;
    background-color: #E42529;
    width: 80%;
    text-align: center;
    display: block;
    padding: 3px;
    margin-left: 10%;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
}
.program:hover{
text-decoration: none;
    font-size: 14px;
        width: 90%;
        margin-left: 5%;
}

.menu-cont.opn{

	width: 100%;
	height: calc(100vh - 100px);
	max-width: 300px;
	transition: 0.3s;
	overflow-y: auto;


}


li img{
	    width: 50%;
    display: flex;
    /* position: relative; */
    margin: auto;
}
.menu-cont .log img{
	display: none;

}

.menu-cont.opn .log{
    width: 100%;
    display: block;
    position: relative;
    /* bottom: 120px; */
    overflow: hidden;
    margin-top: 40px;
    cursor: pointer;

}
.menu-cont.opn .log img{
    width: 80%;
    margin: auto;
    display: block;
    top: auto;
    left: auto;
    position: relative;
    margin-bottom: 10px;

}
li a:hover{
	    text-decoration: none;
}
	
.menu-cont.opn .menu-itens{
 margin: 0;
 margin-top: 50px;

}

.menu-cont.opn .menu-itens li{
color: #fff;
text-transform: uppercase;
    font-family: "UnitOT";
    text-align: center;
    font-size: 30px;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer	;
    margin-bottom: 15px;
}


.menu-cont.opn .menu-itens li a{
color: #fff;

}

.menu-itens{
	margin-left: -100vw;

}
.menu-bars{
	width: 40px;
	height:40px;
	position: relative;
	margin: auto;
	cursor: pointer;
	transition: 0.3s;

}
.menu-bars.opn{
float: right;
transition: 0.3s;
}
.menu-bars.opn div:nth-child(1){
    transform: rotate(45deg);

    position: absolute;
    top: 10px;
    right: 10px;

}
.menu-bars.opn div:nth-child(2){
opacity: 0;
}
.menu-bars.opn div:nth-child(3){
    transform: rotate(-45deg);

    position: absolute;
    top: 10px;
     right: 10px;
}
.menu-bars div{
	width: 80%;
	height: 2px;
	background-color: #fff;
	border-radius: 3px;
	margin:8px;
	margin-left: 0;
	margin-right: 0;
	margin-left: 5px;
	transition: 0.3s;
}


body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

a {
	color: #2aabe2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

svg{
	transition: 0.3s;
}


p {
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	color:#333;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

h1,
h2,
h3,
h4 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #333;
	font-weight: bold;
	line-height: 1.3em;
	width: 100%;
	max-width: 600px;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

h1 {
    margin: 0;
    padding: .5em 10px;
    line-height: 0.9em;
    font-weight: normal;
    font-size: 80px;
    text-transform: uppercase;
    color: #000;
    font-family: "UnitOT";
    text-align: center;
    margin: auto;
    padding-bottom: 0;
}

h2,
h4 {
	padding: 0 10px;
}

h2 {
	font-size: 40px;
	    font-family: "UnitOT";
}

h4 {
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
}

h2 span{
	font-size: 26px;
	text-transform: uppercase;
	color:#333;
	max-width: none;
}

article {
	width: 100%;
	overflow-x: hidden;
}

body.no-scroll{
	overflow-y:hidden;
}

img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}


p.chapeu {
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #aaa;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .03em;
	line-height: 1.3em;
	font-size: 14px;
	padding-bottom: 0;
}

.folhaf{
position: relative;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: auto;
    display: block;
	margin-top: 10px;}
.folhaf img{

    width: 100%;
    z-index: 9;
margin: auto;
	position: relative;

}
.side-box p{
	    font-family: arial;
    font-size: 15px;
    padding: 0;
    text-align: center;
}


.texto .date, .texto .autor {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size:14px;
	line-height:16px;
	color:#666;
}

.texto .date{
	font-style: italic;
}
.fartura{
    max-width: 200px;
    position: absolute;
    top: 100px;
    right: 10px;
}
.fartura img {
width: 100%;
}
/****** Article ******/

.patrocinio {
	width: 100%;
	padding: 20px 10px 0;
	position: relative;
}

.patrocinio-content {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}
.bot{
	    max-width: 350px;
    margin: auto;
    position: relative;
    display: block;
}

.patrocinio p {
	color: #888;
	font: 12px 'Helvetica', 'Arial', sans-serif;
	padding-bottom: 10px;
}

.patrocinadores {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

#f2{
top: 0;
left: 0;
	width: 100%;
	height: calc(100vh - 80px);
	overflow: hidden;
	position: absolute;
	background-size: cover;
	background-position: top;
background-image: url(../images/abertura-neg.jpg);
 
 -webkit-animation: z2 5s linear 0s infinite ;
     -moz-animation: z2 5s linear 0s infinite ;
       -o-animation: z2 5s linear 0s infinite ;
          animation: z2 5s linear 0s infinite ;


}


.full {
	width: 100%;
	height: calc(100vh - 80px);
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: top;
}

.full .img-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-size:cover;
}

.full .image,
.full video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}

.left{
	background-position:left center;
}

.bottom{
	background-position: center bottom;
}

.top{
	background-position: center top;
}

.right{
	background-position: right center;
}

.left.top{
	background-position:left top;
}

.left.bottom{
	background-position:left bottom;
}

.right.top{
	background-position:right top;
}

.right.bottom{
	background-position:right bottom;
}

.full .credito {
	text-align: right;
	font: 11px 'Helvetica', 'Arial', sans-serif;
	color: #444;
	line-height: 14px;
	padding-bottom: 0;
}

.full .container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25);
}

.texto h3 {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
	color: #00afc4;
	width: 100%;
	max-width: 940px;
	font-size: 25px;
	line-height: 1.3em;
	padding: 0 10px;
}

.tm-ads{
	width:728px;
	height:90px;
	margin:50px auto;
	position:relative;
}

@media (max-width: 940px) {
	.tm-ads{
		display:none;
	}
}

.tm-ads:before{
	content:'Publicidade';
	position:absolute;
	top:-15px;
	width:100%;
	text-align: right;
	font-size:10px;
	line-height: 15px;
	color:#ccc;
	text-transform: uppercase;
}

.full .chapeu.rio2016 {
	width:100%;
	max-width:200px;
	position: relative;
	margin: 0 auto;
	display: block;
	color:#fff;

}

.full .chapeu.rio2016 svg {
	width:100%;
	height: auto;
}


.full .titulo {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
    color: #fff;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

#full1 {
	width: 100%;
	overflow: hidden;
	position: relative;
background-image: url(../images/abertura.jpg);

}

.not-mobile #full1 .center{
	position:absolute;
	top:50%;

	left:50%;
	width: auto;
	height: auto;
	min-width:100%;
	min-height:100%;

	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.abertura{
	width:auto;
	height:auto;
	min-width:100%;
	min-height: 100%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.menu-bottom{
	width:100%;
	max-width:940px;
	margin: 0 auto 30px;
	height:100px;
}

.menu-bottom a{
	text-transform: uppercase;
	width:50%;
	line-height: 100px;
	background-color: rgba(0,0,0,.05);background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.05) 20%);
	background: -webkit-gradient(linear, left , right, color-stop(0%,rgba(0,0,0,0.1)), color-stop(20%,rgba(0,0,0,.05)));
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 20%);
	background: -o-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 20%);
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 20%);
	background: linear-gradient(to right,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.05) 20%);

	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
	padding:0 50px;
	color:#000;
}

.menu-bottom a:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,.1);
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
	padding:0 20px;
}

.anterior-cap{
	float: left;
	text-align: left;
}

.viz-no {
	visibility: hidden;
	font-size: 0;
}

.proximo-cap{
	float:right;
	text-align: right;
}

.subtitulo {
	font-family: 'Georgia', 'Times New Roman', serif;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 30px;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.scale1 {
	position: absolute;
	width: 100%;
	height:100%;
	left: 0;
	top: 50%;
	padding:10px 10px 0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}

.texto p.autor {
	font-weight: bold;
	text-transform: uppercase;
	max-width: 620px;
	padding: 8px 10px;

}

.texto p.autor span{
	font-weight: normal;
	display:block;
}

#scroll {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 150px;
}

#scroll svg {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	cursor: pointer;

	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
}

#scroll svg:hover {
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;

	top:10px;
}
.prx{
	position: absolute;
	width: 200px;
}
.dirm{
right: 50px;
visibility: visible;
}
.esqm{
	left: 50px;
visibility: visible;
}

#fruta1{    top: 250px;
    min-width: 300px;
    left: 80px;}
#fruta2{    top: 300px;
    max-width: 150px;}

#fruta3{     top: 750px;
    width: 250px;
    left: 118px;}
#fruta4{    top: 500px;
    transform: rotate(23deg);
    max-width: 250px;
    right: 78px;}
#fruta5{    top: 1118px;
    width: 250px;}
#fruta6{max-width: 140px;
    top: 918px;
    right: 69px;}
#fruta7{     top: 569px;
    max-width: 150px;
    left: 120px;}
#fruta8{    top: 1100px;
    right: 30px;
    width: 250px}
#fruta9{     max-width: 94px;
    top: 1007px;
    transform: rotate(72deg);
    left: 188px;}

.texto {
	padding: 30px 0;
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

}

.texto p {
	width: 100%;
	max-width: 620px;
	padding: .5em 10px;
	color: #aaa;
	position:relative;
}

.texto.expediente{
    padding-top: 0;
    max-width: 940PX;
    margin: auto;
}

.texto.expediente p, .colaboracao {
	font-size: 14px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	padding-bottom: .5em;
	color:#888;
	 margin: auto;
}

hr{
	border: #ccc 0px solid;
	border-top-width: 1px;
}

.vplay{
	width:100%;
	height:100%;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.vplay .play{
	width:100%;
	height:100%;
	background:url(../images/play.svg) center center no-repeat;
	background-size: 100px;
	opacity:1;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}

.not-mobile .vplay:hover .play{
	opacity:.1;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}
.gal-opn img {
width: 100%;
transition: 0.5s;
 -webkit-animation: z3 0.3s linear 0s ;
     -moz-animation: z3 0.3s  linear 0s ;
       -o-animation: z3 0.3s  linear 0s  ;
          animation: z3 0.3s  linear 0s ;
}


.video {
	width: 100%;
	position: relative;
	clear: both;
	margin: 20px auto/**/ 30px;
	height:528px;
	background-color: #000;
	max-width:940px;
}

.video embed, .video video, .video iframe {
	width: 100%;
	position: relative;
	height: 100%;
}

.embed{
	margin: 20px 0 10px;
}

.embed iframe{
	width:100%;
}
.mouse-fundo{
	    fill: rgb(153, 139, 148);
}
.mouse-line {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
}
.gal {
	position: relative;
	text-align: center;
	width: 100%;
	overflow:hidden;
	margin: auto;



}

.gal figure {
	background: center center no-repeat;
	background-size: cover;
	width: 100%;
	position:relative;
	background: #000;
	transition: 0.3s;
}

.gal figure img {
	width: 100%;
	vertical-align: top;
}

.galeria figure.atual {
	opacity: 1;
	visibility: visible;
    display: block;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	transition: opacity .5s;
}

.gal figure.proximo {
	opacity: 0;
	visibility: hidden;

	-webkit-transition: opacity .5s .5s;
	-moz-transition: opacity .5s .5s;
	transition: opacity .5s .5s;
}

.gal figure.anterior {
	opacity: 1;
	visibility: visible;
}

.gal figcaption {
    font-family: 'Helvetica', 'Arial', sans-serif;
    width: 100%;
    left: 0;
    bottom: 0;
    font-weight: 300;
    line-height: 1.1em;
    text-align: left;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .9);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    position: absolute;
    padding-top: 80px;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 10px;
}


.gal-opn figcaption {



	font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    width: 20%;

    color: #aaa;

    bottom: 0;
    font-weight: 300;
    line-height: 1.1em;
    text-align: left;
    font-size: 16px;

    background-color: rgba(0, 0, 0, .9);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    float: left;
    left: 100%;
    padding: 10px;


}
.gal-opn figcaption span {
	display: block;
	font-size: 12px;
	padding-top: .3em;
}


.gal figcaption span {
	display: block;
	font-size: 12px;
	padding-top: .3em;
}

.gal button{
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	border: none;
	display: none;
	background-color: rgba(0,0,0,0);
	width:50%;
	height: 100%;
	outline: none;

}


.esq1{
	width: 30%;
	left: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 9999999;
	display: none;
}

.dir1{
	width: 30%;
	right: 0;
	height: 100vh;
	position: fixed;
	top: 0;
    z-index: 9999999;
    display: none;

}

.esq1:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	left: 0%;
	background-image: url(../images/esq.svg);
	background-size: cover;
	cursor: pointer;
}

.dir1:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50%;
	right: 0%;
	background-image: url(../images/dir.svg);
	background-size: cover;
	cursor: pointer;
}







.gal-opn{

	    opacity: 1;
    z-index: 999999;
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: #000;

      max-width: none;
}

.gal-opn figure {
    background: center center no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    background: #000;
    max-width: 1000px;
    margin: auto;
    top: 10%;

}


.gal-opn figcaption {
float: left;
    left: 100%;
     position: absolute;
    padding: 10px;
}

.closee{
    width: 80px;
    position: fixed;
    top: 10px;
    height: 80px;
    right: 10px;
    z-index: 999999999;
    cursor: pointer;
    transition: 0.3s;
    display: none;
}

.closee:hover{
transform: rotate(90deg);
transition: 0.3s;
}




.single:hover figcaption:after{
	transition: 0.3s;
     opacity: 0.5;
}




.gal button.next {
	display: block;
	right: 0;
}

.gal button.prev {
	left: 0;
}

.gal button:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;

    transform: rotate(45deg) translateY(-50%);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -moz-transform: rotate(45deg) translateY(-50%);
    -o-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
}

.gal button:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    -webkit-transform: rotate(45deg) translateY(-50%);
    -moz-transform: rotate(45deg) translateY(-50%);
    -o-transform: rotate(45deg) translateY(-50%);
    -ms-transform: rotate(45deg) translateY(-50%);
}

.gal button.next:before {
    right: 30px;
    border-top: 8px solid rgba(0,0,0,.5);
    border-right: 8px solid rgba(0,0,0,.5);
}

.gal button.next:after {
    right: 31px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
}

.gal button.prev:before {
    left: 0;
    border-bottom: 8px solid rgba(0,0,0,.5);
    border-left: 8px solid rgba(0,0,0,.5);
}

.gal button.prev:after {
    left: 1px;
    border-bottom: 6px solid #fff;
    border-left: 6px solid #fff;
}

.lazy-gal {
	opacity: 0;
}

.legendaGd span {
	text-transform: none;
	display: block;
	padding-top: .5em;
	font-size: 14px;
}

.gal.lazy img, .gal.lazy figcaption{
	opacity:0;
}
/****** Zoom ******/

@-webkit-keyframes zoom {
	0% {
		transform: scale(1.2) translate(-50%, -50%);
		-webkit-transform: scale(1.2) translate(-50%, -50%);
	}

	100% {
		transform: scale(1) translate(-50%, -50%);
		-webkit-transform: scale(1) translate(-50%, -50%);
	}
}

@keyframes zoom {
	0% {
		transform: scale(1.2) translate(-50%, -50%);
		-webkit-transform: scale(1.2) translate(-50%, -50%);
		-moz-transform: scale(1.2) translate(-50%, -50%);
		-ms-transform: scale(1.2) translate(-50%, -50%);
		-o-transform: scale(1.2) translate(-50%, -50%);
	}

	100% {
		transform: scale(1) translate(-50%, -50%);
		-webkit-transform: scale(1) translate(-50%, -50%);
		-moz-transform: scale(1) translate(-50%, -50%);
		-ms-transform: scale(1) translate(-50%, -50%);
		-o-transform: scale(1) translate(-50%, -50%);
	}
}





.zooming {
	animation: zoom 15s ease-in;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
}


/****** GaleriaDesk ******/

/* .not-mobile .galeria {
	width: 100%;
	max-width:940px;
	overflow: hidden;
	position: relative;
	margin: 10px auto 30px;
	background:url(../images/loading.gif) center center no-repeat;
	border-bottom:1px solid #eee;
}

.not-mobile .galeria .nav {
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.not-mobile .galeria .nav .thumb {
	width: 76px;
	height: 50px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	margin-right: 10px;
	opacity: .6;
	cursor: pointer;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}

.not-mobile .galeria .nav .thumb.atual,
.not-mobile .galeria .nav .thumb:hover {
	opacity: 1;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}

.not-mobile .galeria .nav .thumb.atual {
	cursor: default;
}

.not-mobile .galeria .nav .thumb .btnNav {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .2;
	top: 0;
	left: 0;
}

.not-mobile .galeria .nav .thumb img {
	width: auto;
	height: 50px;
} */

.galeria figure.atual {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);

	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.galeria figure.proximo {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);

	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.galeria figure.anterior {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	transform: translateX(-100%);

	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.galeria hr {
	margin-top: 0;
}

.galeria figure img {
	position: relative;
}

.galeria figure.lazy img {
	opacity:0;
}

/*

.not-mobile .galeria figure img {
	transition:opacity .3s;
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
} */

.galeria figure figcaption {
	width: 100%;
	max-width: none;
	padding: 10px 5px;
	margin: 0;
	position: relative;
	font-size: 14px;
}

.galeria figure figcaption h1 {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	text-transform: uppercase;
	padding: 0;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: .2em;
}

.galeria figure figcaption p,
.info figcaption {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 15px;
	color: #777;
	line-height: 1.3em;
	max-width: none;
	padding: 0;
}

.galeria figure figcaption p {
	color: #000;
}

.info figcaption {
	padding: 10px 5px 15px;
}

.galeria figcaption .contador {
	font-weight: bold;
}

.galeria .esq,
.galeria .dir {
	position: absolute;
	top: 0;
	background: rgba(0,0,0, 0);
	height: 100%;
	width: 46px;
	cursor: pointer;
	border: none;
	padding: 0;

	display: -webkit-flex;
	display: flex;

	-webkit-justify-content: center;
	justify-content: center;

	-webkit-align-items: center;
	align-items: center;

	transition: background .3s;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	-o-transition: background .3s;
	-ms-transition: background .3s;
}

.esq:hover,
.dir:hover {
	background-color: rgba(0,0,0,0);
}

.galeria .esq {
	left: 0;

	/* background: -moz-linear-gradient(right, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: -webkit-gradient(top right, bottom right, color-stop(5%, rgba(47,47,47,0)), color-stop(100%, rgba(47,47,47,0.1)));
	background: -webkit-linear-gradient(right, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: -o-linear-gradient(right, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: -ms-linear-gradient(right, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: linear-gradient(to left, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%); */
}

.galeria .dir {
	right: 0;

	/* background: -moz-linear-gradient(left, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: -webkit-gradient(top left, bottom left, color-stop(5%, rgba(47,47,47,0)), color-stop(100%, rgba(47,47,47,0.1)));
	background: -webkit-linear-gradient(left, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: -o-linear-gradient(left, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: -ms-linear-gradient(left, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%);
	background: linear-gradient(to right, rgba(47,47,47,0) 5%, rgba(47,47,47,0.1) 100%); */
}

/****** GaleriaMobile ******/

.galeria {
	width: 100%;
	max-width:940px;
	margin: 30px auto;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.galeria.overlay {
	position: fixed;
	top: 84px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	overflow: hidden;
	background-color: #fff;
	max-width: none;
	margin: 0;
}

.inuse .overlay {
	visibility: visible;
	opacity:1;

	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s;
}

.galeria.overlay .atual {
	top: 0;

	-webkit-transform: translate(0,0);
	-moz-transform: translate(0,0);
	transform: translate(0,0);
}

.galeria.overlay .proximo {
	top: 0;

	-webkit-transform: translate(100%, 0);
	-moz-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

.galeria.overlay .anterior {
	top: 0;

	-webkit-transform: translate(-100%, 0);
	-moz-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.galeria figure {
	width: 100%;
	height: auto;
    display: none;
}

.galeria.overlay figure {
	height: 100%;
}

figure.info {
	border-bottom: 1px solid #ddd;
}

.galeria figure .gal-img-container {
	background-color: #efefef;
	position: relative;
	width: 100%;

	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.galeria.overlay figure .gal-img-container {
	height: 100%;
	background-color: rgba(0,0,0,0);
	max-width: 1260px;
	margin: 0 auto;
}

.galeria figure .gal-img-container img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.galeria.overlay figure .gal-img-container img {
	object-fit: scale-down;
}

.gal-container {
	position:relative;
}

.overlay .gal-container {
	height: 100%;
}

.galeria.overlay figcaption {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	max-height: calc(100vh / 2.506 - 84px);
	padding: 10px 46px 10px 10px;
	background-color: rgba(255, 255, 255, .9);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0.9)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%);
}

.galeria.overlay.clear-gallery figcaption,
.galeria.overlay.clear-gallery header,
.galeria.overlay.clear-gallery footer,
.galeria.overlay.clear-gallery .esq,
.galeria.overlay.clear-gallery .dir {
	opacity: 0;
}

.galeria.overlay figure figcaption p {
	width: 100%;
	max-width: none;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	color:#000;
	max-width: 1260px;
	margin: 0 auto;
}

.galeria figure.gal-open figcaption:after{
	content:'';
	position: absolute;
	right:10px;
	top:-50px;
	width:40px;
	height:40px;
	background: url(../images/galeria.svg) center center no-repeat;
	background-size: 100%;
}

.galeria.overlay figure figcaption h1 {
	color: #000;
	max-width: 1260px;
	margin: 0 auto;
}

.galeria.overlay .atual{
	-webkit-transform: translate(0,0%);
	-moz-transform: translate(0,0%);
	transform: translate(0,0%);
	    display: block;
}

.galeria.overlay .proximo{
	-webkit-transform: translate(100%,0%);
	-moz-transform: translate(100%,0%);
	transform: translate(100%,0%);
}

.galeria.overlay .anterior{
	-webkit-transform: translate(-100%,0%);
	-moz-transform: translate(-100%,0%);
	transform: translate(-100%,0%);
}

.galeria.overlay .close{
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 0;
	height: 41px;
	width: 41px;
	border: none;
	outline: none;
	background-color:rgba(0,0,0,0);
}

.galeria.overlay .close:after,
.galeria.overlay .close:before{
	content:'';
	width: 3px;
	height: 16px;
	position: absolute;
	top: 12px;
	left: 19px;
	background-color: #fff;
}

.galeria.overlay .close:before{
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.galeria.overlay .close:after{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.galeria header {
	position: absolute;
	top: 0;
	right: 0;
}

.galeria.overlay header {
	position: absolute;
	top: 0;
	right: 0;
}

.galeria .share-gallery,
.galeria .fs-gallery {
	height: 46px;
	width: 46px;
	background-size: 14px;
	border: none;
	padding: 10px;
	background-color: rgba(0,0,0, 0);

	transition: background-color .15s;
	-webkit-transition: background-color .15s;
}


.galeria .fs-gallery {
	padding: 3px;
}

.galeria .fs-gallery .fs-close {
	display: none;
}

.galeria.overlay .fs-gallery .fs-close {
	display: block;
}

.galeria.overlay .fs-gallery .fs-open {
	display: none;
}

.galeria .share-gallery:hover,
.galeria .fs-gallery:hover {
}

.galeria.overlay .share-gallery,
.galeria.overlay .fs-gallery {
	background-color: rgba(47, 47, 47, 0);
}

.galeria.overlay .share-gallery:hover,
.galeria.overlay .fs-gallery:hover {
	background-color: rgba(47, 47, 47, 0);
}

.galeria.overlay .share-gallery:hover svg path,
.galeria.overlay .fs-gallery:hover svg path {
	fill: #aaa;

	transition: fill .15s;
	-webkit-transition: fill .15s;
}

.galeria .share-gallery svg,
.galeria .fs-gallery svg {
	width: 100%;
	height: 100%;
}

.galeria .share-gallery svg path,
.galeria .fs-gallery svg path {
	fill: #fff;
}

.galeria .gal-title {
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.share-gallery {
	position: absolute;
	right: 0;
	top: -47px;
}

.overlay .share-gallery {
	top: auto;
	bottom: 60px;
}

.fs-gallery {
	position: absolute;
	right: 0;
	bottom: -46px;
	z-index: 1;
}

.galeria footer {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 46px;
	width: 46px;
}

.galeria.overlay footer {
	top: auto;
	bottom: 0;
	height: 46px;
}

.galeria .gal-footer-btn {
	background: rgba(0,0,0,0);
	background-size: 14px;
	border: 0;
	padding: 0;
	height: 46px;
	width: 46px;
}

.galeria button:focus {
	outline-width: 1px;
}

.galeria nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 46px 0 0;
	background-color: rgba(255, 255, 255, 95);
	z-index: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-around;
	justify-content: space-around;

	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	transition: background-color .3s;
}

.galeria .social-gallery {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: rgba(255, 255, 255, 94);
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	z-index: 1;
	text-align: center;
}

.galeria .social-gallery .social-container {
	width: 100%;
}

.galeria .social-gallery a {
	display: block;
	width: 100%;
	color: #222;
	background: 0 0;
	text-shadow: none;
}

.galeria nav .thumb-container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	max-height: 100%;
	overflow-y: auto;
}

.galeria nav .close-nav,
.galeria .close-share {
	background: rgba(0,0,0,0);
	background-size: 14px;
	border: 0;
	padding: 0;
	height: 46px;
	width: 46px;
	position: absolute;
	right: 0;
	top: 0;
}

.galeria nav .close-nav svg,
.galeria .close-share svg  {
	width: 46px;
	height: 46px;
	fill: #888;
}

.galeria.overlay nav {
	padding: 10px 46px 10px 5px;
}

.galeria nav .thumb {
	margin: 5px;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
	border: 4px solid rgba(0, 0, 0, 0);
	max-width: 46%;
}

.galeria nav .thumb img {
	vertical-align: top;
}

.galeria nav .thumb.selected,
.galeria nav .thumb:hover {
	border-color: #00adef;
}

.side-box,
blockquote {
	width:100%;
	max-width: 300px;
	float: right;
	margin-left: 10px;
	position: relative;
}

.side-box{
	position:relative;
	    border-bottom: 1px solid #aaa;
}

.side-box img{
	width:100%;
}

.centro{
	width:100%;
	max-width: 620px;
	margin: 10px 0 30px;
}

blockquote {
	padding: 60px 20px 20px;
	float: right;
	border: 0;
	margin: 0;
	font-size: 0;
}

blockquote:before {
	content: 'Ã¢â‚¬Å“';
	font-family: 'metaserifpro-bold';
	position: absolute;
	left: 20px;
	top: -30px;
	font-size: 100px;
	width: 100px;
	height: 100px;
	color: #2aabe2;
}

blockquote p {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;
	padding: 0 0 5px!important;
	text-transform: uppercase;
	letter-spacing: .07em;
}

blockquote cite {
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 11px;
	line-height: 13px;
	font-weight: bold;
	text-transform: uppercase;
	font-style:normal;
	color:#333;
}

blockquote cite span {
	font-weight: normal;
	text-transform: none;
}

.share-quote {
	position: absolute;
	top: 15px;
	left: 75px;
	width: 35px;
	height: 35px;
	background: url(../images/share.png) 10px center no-repeat;
	overflow: hidden;
	text-indent: 40px;
	opacity: .4;
}

.share-quote:hover {
	width: 150px;
	opacity: .7;
}

.share-quote a {
	display: block;
	width: 100%;
	line-height: 35px;
	height: 35px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
	text-decoration: none;
	font-size: 11px;
}

.share-quote a:hover {
	text-decoration: none;
}

.seta-final {
	width: 100%;
	padding: 10px 0 30px;
}

.seta-final a {
	width: 78px;
	height: 86px;
	margin: 0 auto;
	display: block;
}

.seta-final svg:hover {
	transition: all .4s;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;

	transform: translateY(10px);
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	-ms-transform: translateY(10px);
}

.info{
	margin:15px 0 20px;
	width:100%;
	position: relative;
}

/****** infos ******/

.info iframe{
	width:100%;
	        height: 400px;
}

.info.embed{
	padding:0 10px;
}

@-webkit-keyframes seta{
	0%{
		transform:translateX(-2px);
		-webkit-transform:translateX(-2px);
	}
	50%{
		transform:translateX(2px);
		-webkit-transform:translateX(2px);
	}
	100%{
		transform:translateX(-2px);
		-webkit-transform:translateX(-2px);
	}

}

.mobile-only{
	display:none;
}

.mobile .mobile-only{
	display:block;
}

/****** Footer ******/

.footer {
	padding: 50px 10px;
	background-color: #000;
}

.footer p {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	font-size: 11px;
	color: #eee;
	font-family: 'Helvetica', 'Arial', sans-serif;
	text-align: center;
	line-height: 14px;
	-webkit-font-smoothing:subpixel-antialiased;
	-moz-osx-font-smoothing:auto;
	letter-spacing:.03em;
}

#fol-main-share p, #fol-lateral-share a {
	margin-top: 6px!important;
}

/****** Mobile fixes ******/

.mobile .scale1{
	position:relative;
}

.mobile .container {
	height:100%;
	top:0;
}

.mobile .gal figcaption {
max-width: none;
    position: relative;
    bottom: auto;
    left: auto;
    border-top: 0;

    padding: 10px;
    font-size: 14px;
}

.mobile .gal figcaption span{
	font-size: 12px;
	padding-top:.5em;
	display: block;
}

.mobile .sem{
	display:none;
}

.delete,
.delete-uol {
	display:none;
}

.gal-opn figcaption:after{
display: none;

}
.mobile .gal figcaption{

	transition: 0.3s;
}



@media (max-width: 1400px) {

	.gal-opn figcaption {
	    float: left;
	    left: 0%;
	    width: 100%;
	    position: relative;
	    /* padding: 10px; */
	}

	.texto {
	    padding: 10px;
	}


}


@media (max-width: 940px){
.prx.esqm{
	display: none;
	}
	.texto{
	    padding-left: 0;
    max-width: 500px;
    float: left;
    padding-left: 30px;
}
.video {
    width: 100%;
    position: relative;
    clear: both;
    margin: 20px auto/**/ 30px;
    height: 260px;
    background-color: #000;
    max-width: 940px;
}
 .bot{
 	    max-width: 200px;
 }
 h1{font-size: 50px;}
}


@media (max-width: 700px){
	.prx{
	display: none;
	}

			.fartura{
	display: none;
	}
	.folhaf{
		max-width: 100px;
	}
	h1{
		font-size: 30px;
	}
}

@media (max-width: 939px)  and (orientation: landscape){
.mobile #scroll svg {
    width: 60px;
    height: 60px;

}



.gal figcaption:after{

	opacity: 1;
}
.mobile .gal-opn figcaption {
position: fixed;
    bottom: 0;

}

.gal-opn figcaption:after{
display: none;

}
.mobile .gal figcaption:after{

	opacity: 1;
}
.mobile .full .titulo {
    max-width: 220px;
}
 .mobile  #scroll {
	    height: 70px;
}

.mobile .gal figure img {
    width: auto;
    vertical-align: top;
    max-height: 100vh;
        padding: 20px;
}

.mobile .gal-opn figure {
    top: 0;
}
.mobile .gal-opn figure {
     top: 0%;
}
}


@media print{*{text-shadow:none!important;color:#000!important;background:0 0!important;box-shadow:none!important;}a,a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}blockquote,pre{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}img,tr{page-break-inside:avoid;}img{max-width:100%!important;}h2,h3,p{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}select{background:#fff!important;}.navbar{display:none;}.table td,.table th{background-color:#fff!important;}.btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important;}.label{border:1px solid #000;}.table{border-collapse:collapse!important;}.table-bordered td,.table-bordered th{border:1px solid #ddd!important;}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}html{font-size:62.5%;-webkit-tap-highlight-color:transparent;}body{font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;}a{color:#428bca;text-decoration:none;}a:focus,a:hover{text-decoration:underline;}a:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}figure{margin:0;}img{vertical-align:middle;}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-weight:400;line-height:1;color:#999;}.h1,.h2,.h3,h1,h2,h3{margin-top:20px;margin-bottom:10px;}.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{font-size:65%;}.h4,.h5,.h6,h4,h5,h6{margin-top:10px;margin-bottom:10px;}.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-size:75%;
