*{
    margin: 0;
    border:0;
    font-family: arial;
}
span{
    font-weight: bold;
}

figure{
    width: calc((100%/3) - 20px);
    float: left;
    text-align: center;
    box-shadow: 0px 0px 3px rgba( 0,0,0,0.4);
    margin-top: 10px;
    margin: 10px;
    min-height: 250px;
    padding: 5px;
}
figure img{
width: 100%;

}
figcaption{
 font-size: 14px;    
text-align: left;
}
#content{
    width: 100%;
    max-width: 620px;
    margin: auto;
}


@media (max-width: 350px) {
    figure{
        width: calc((100%/2) - 6px);
        float: left;
        text-align: center;
        box-shadow: 0px 0px 3px rgba( 0,0,0,0.4);
        margin-top: 3px;
        margin: 3px;
        min-height: 150px;
    }
}